.table {
  margin: 0 auto;
  border: 2px solid gray;
  border-collapse: collapse;

  .td {
    border: 2px solid gray;
    text-align: center;

    &:nth-child(1) {
      padding: 10px;
    }

    &:nth-child(n + 2) {
      width: 100px;
    }
  }
}

.highlight {
  background-color: #0091ff;
}
